<footer class="site-footer clearfix" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <section class="copyright">
    Publicado usando <em><a itemprop="url" href="https://python.org" target="_blank">Python</a></em> y
    <a itemprop="url" href="https://getpelican.org" target="_blank">Pelican</a> | 
    Licencia 
    <a itemprop="url" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" target="_blank">
      <img 
        alt="Licencia Creative Commons" 
        style="border-width:0; vertical-align:middle;" 
        src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
    </a> 
  </section>
  <section class="poweredby">
    <a href="/categories.html" title="Categorías"><i class="fa fa-folder-open"></i> Categorías</a> |
    <a href="/tag/" title="Nube de Etiquetas"><i class="fa fa-tags"></i> Nube de Etiquetas</a> |
    <a href="/archives.html" title="Archivo"><i class="fa fa-sitemap"></i> Archivo</a> 
  </section>
</footer>
