  {% for article in articles_page.object_list %}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header" itemprop="headline">
        <h2 class="post-title">
          <a href="{{ SITEURL }}/{{ article.url }}" itemprop="url" rel="bookmark">
            {{ article.title|striptags }}
          </a>
        </h2>
      </header>
      <section class="post-excerpt">
        {% if article.summary %}
          {{- article.summary|striptags -}}
        {% else %}
          {{- article.content|striptags|truncate(260, False) -}}
        {% endif %}
      </section>
      <footer class="post-meta">
        Publicado en la categoría <strong><i class="fa fa-{{ CATS[article.category][2] }}" aria-hidden="true"></i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ CATS[article.category][0] }}</a></strong>
        <br>
        <strong><i class="fa fa-tags"></i> Etiquetas:</strong>  {% for tag in article.tags %}<i class="fa fa-tag"></i>  <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name | lower }}{% if not loop.last %}, {% endif %}</a>{% endfor %}
        <time class="post-date" itemprop="datePublished" datetime="{{ article.date.isoformat() }}"><i class="fa fa-calendar" aria-hidden="true"></i> {{ article.locale_date }}</time>
      </footer>
    </article>
  {% endfor %}
