<link type="text/plain" rel="socialmedia" href="{{ SITEURL }}/socialmedia.txt">
<link rel="publisher" href="{{ PUBLISHER }}">
<link rel="apple-touch-startup-image" href="//media.toledano.org/theme/images/apple-touch-icon-152x152.png">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="application-name" content="{{ SITENAME }}"/>
<meta name="msapplication-starturl" content="http:{{ SITEURL }}"/>
<meta name="msapplication-tooltip" content="{{ TAG_LINE }}"/>
<meta name="msapplication-window" content="width=1024;height=768"/>
<meta name="msapplication-task" content="name={{ SITENAME }};action-uri=http:{{ SITEURL }};icon-uri=//media.toledano.org/theme/images/favicon.ico"/>
<meta name="msapplication-TileImage" content="//media.toledano.org/theme/images/apple-touch-icon-152x152.png"/>
<meta name="msapplication-TileColor" content="#1F1F21"/>
<meta name="application-name" content="{{ SITENAME }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="google-site-verification" content="{{ GOOGLE_SV }}">
<meta name="alexaVerifyID" content="{{ ALEXA }}"/>
<meta name="wot-verification" content="{{ MY_WOT }}"/>
<meta name="msvalidate.01" content="{{ MSVALIDATE }}" />
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="medium" content="mult">
<meta name="adblock" content="disable">
<meta name="rating" content="General">
<meta name="resource-type" content="document">
<meta name="revisit-after" content="1 days">
<meta name="revisit" content="1">
<meta name="robots" content="index,follow">
<meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
