{% extends "base.html" %}

{% block header_type %}post-head{% endblock %}
{% block scroll %}{% endblock %}

{% block title %}Categorías - {{ super() }}{% endblock title %}

{% block header_title %}
  <h1 class="page-title" itemprop="headline">Categorías</h1>
  <h2 class="page-description" itemprop="description">Estos son los temas</h2>
{% endblock header_title %}

{% block content %}
<main id="content" class="content" role="main">
  <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <div style="clear: both;">
      <ul>
        {% for cat, desc in CATS.items() %}
        <li><a href="{{ SITEURL }}/{{ cat }}/"><strong>{{ desc[0]}}</strong></a> - <em>{{ desc[1] }}</em></li>
        {% endfor %}
      </ul>
    </div>
  </article>
</main>
{% endblock %}
