{% extends "base.html" %}
{% block header_type %}tag-head{% endblock %}
{% block scroll %}{% endblock %}
{% block template_type %}tag-template{% endblock %}
{% block title %}Etiquetas - {{ super() }}{% endblock title %}
{% block meta_description -%}
  La nube de etiquetas empleadas en Yo, Toledano.
{%- endblock meta_description %}
{% block header_title %}
  <h1 class="page-title" itemprop="headline"><i class="fa fa-tags"></i> Etiquetas</h1>
{% endblock %}

{% block content %}
<main id="content" class="content" role="main">
  <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

    <ul class="tagcloud">
      {% for tag in tag_cloud %}
      <li class="tag-{{ tag.1 }}">
        <a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a>
      </li>
      {% endfor %}
    </ul>

    <div style="clear: both;"></div>
  </article>

</main>
{% endblock content %}
