<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>la_ruta_de_fuego.md</string>
		</array>
		<array>
			<string>melanie.md</string>
		</array>
		<array>
			<string>naturaleza_oscura.md</string>
		</array>
		<array>
			<string>naturaleza_salvaje.md</string>
		</array>
		<array>
			<string>sin_alma.md</string>
		</array>
	</array>
</dict>
</plist>
